<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2WoodSide3190.Properties.Settings.WoodSide3190ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=WoodSide3190;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="_2WoodSide3190.Properties.Settings.WoodsideHubConnectionString"
            connectionString="Data Source=DPC\SQLEXPRESS;Initial Catalog=WoodsideHub;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>